html, body {
  margin: 0;
  padding: 0;

  .todo-app {
    width: 50%;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 0 50px 0 50px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);

    .btn {
      width: 60px;
      padding: 5px 10px;
      background: #ffffff;
      border: 1px solid #545454;
      cursor: pointer;
    }

    .d-flex {
      display: flex;
    }

    input:focus {
      border: 1px solid #545454;
      outline: none;
    }
    //  -------------------------
    //  create block
    //  -------------------------
    .create-block {
      display: flex;
      justify-content: space-between;
      background: #ffffff;
      border-radius: 10px 10px 0 0;
      padding: 20px 10px;


      input {
        width: 85%;
        padding: 0 5px;
      }
    }
    //  -------------------------
    //  list block
    //  -------------------------
    .list-tasks {

      // -------------------------
      //  task block
      //  -------------------------
      .task-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        padding: 10px;
        background: #ffffff;
        cursor: move;

        &:hover {
          border-radius: 0 5px 0 5px;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
        }

        .title-task {
          margin: 0 0 0 10px;
        }

        .finished-task {
          text-decoration:line-through;
        }

        .button-block {
          display: flex;
          .btn {
            margin: 0 0 0 10px;
          }
        }
      }
    }
  }
}